{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="content-section padding-100" >
    <form method="POST" action="">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb4">Join Today</legend>
            {{ form }}
        </fieldset>
        <div class="form-group pt-3">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3"></div>

</div>

{% endblock %}